@font-face {
    font-family: 'narbuthaspyd';
    src: url('f/narbuthaspyd.eot');
	}

@font-face {
    font-family: 'narbuthaspyd';
    src: url('f/narbuthaspyd.ttf');
	}

@font-face {
        font-family: Lato;
        src: url('f/latoregular.eot');
	}

@font-face {
        font-family: Lato;
        src: url('f/latoregular.ttf');
	}

@font-face {
        font-family: LatoMedium;
        src: url('f/latomedium.eot');
	}

@font-face {
        font-family: LatoMedium;
        src: url('f/latomedium.ttf');
	}

@font-face {
        font-family: LatoItalic;
        src: url('f/latoitalic.eot');
	}

@font-face {
        font-family: LatoItalic;
        src: url('f/latoitalic.ttf');
	}